<div class="row">
  <div class="col-12 col-sm-4">
    <span [ngClass]="{'small-title-dark': isDark, 'small-title-light': !isDark}">Programma</span><br>
    <span class="header-content">100m Borstcrawl</span>
  </div>
  <div class="col-6 col-sm-4">
    <span [ngClass]="{'small-title-dark': isDark, 'small-title-light': !isDark}">Laatste tijd</span><br>
    <span class="header-content">0:55.78</span>
  </div>
  <div class="col-6 col-sm-4">
    <span [ngClass]="{'small-title-dark': isDark, 'small-title-light': !isDark}">Beste tijd</span><br>
    <span class="header-content">0:54.60 {{isDark}}</span>
  </div>
</div>