/* You can add global styles to this file, and also import other style files */
.body-dark{
    background-color: #1f1f1f !important;
    color: #ffffff !important;
    font-family: Arial, Helvetica, sans-serif;
}

.bg-faded-dark {
    background-color: #1a1a1a !important;
}

.navbar-dark .navbar-nav .open > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.open, .navbar-dark .navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, 0.9) !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5) !important;
}

.navbar-dark .navbar-brand, .navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.9) !important;
}

.swim-container-dark{
    background-color: #1a1a1a;
    margin: 10px 0 20px 0;
    border-radius: 5px;
    -webkit-box-shadow: 20px 20px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 20px 20px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 20px 20px 20px 0px rgba(0,0,0,0.75); /*Horizontal Length, Vertical Length, Blur Radius, Spread Radius, Shadow Color*/
    padding:15px;
}

.swim-content{
    min-height: 400px;    
}

.swim-profile-picture{
    height: 80px !important;
}

.h6-dark{
    color: #1b3c6d !important;
}

.small-title-dark{
    color: #1e82ff;
    font-size: 0.9rem;
}

.header-content-dark{
    color: #1e82ff;
    font-size: 1rem;
}

.swim-link{
    cursor: pointer;
}

.swim-link:hover{
    color:#1e82ff;
}

.alt-row-color{
    background-color: #252525;
}

.swim-row:hover{
    background-color: #3e3e3e;
}
